---
import Layout from '../layouts/Layout.astro';
---
<Layout>
  <div class="container mx-auto p-8 text-center">
    <h1 class="text-4xl font-bold text-red-600 mb-6">Contacta con Nosotros</h1>
    <p class="text-lg text-gray-400 dark:text-gray-700 max-w-2xl mx-auto mb-12">
      ¿Listo para unirte a nuestro equipo de campeones? Contáctanos a través de las redes sociales o utiliza el formulario a continuación.
    </p>

    <section class="bg-gray-900 dark:bg-gray-100 rounded-xl shadow-xl p-8 max-w-lg mx-auto">
      <h2 class="text-2xl font-bold text-red-600 mb-4">Síguenos en Instagram</h2>
      <div class="space-y-4">
        <a href="https://www.instagram.com/cpbjiujitsu" target="_blank" class="block text-lg font-semibold text-gray-300 dark:text-gray-800 hover:text-red-500 transition-colors duration-300">
          @cpbjiujitsu
        </a>
        <a href="https://www.instagram.com/angeel.bjj" target="_blank" class="block text-lg font-semibold text-gray-300 dark:text-gray-800 hover:text-red-500 transition-colors duration-300">
          @angeel.bjj
        </a>
        <a href="https://www.instagram.com/anngeeel_5" target="_blank" class="block text-lg font-semibold text-gray-300 dark:text-gray-800 hover:text-red-500 transition-colors duration-300">
          @anngeeel_5
        </a>
        <a href="https://www.instagram.com/ivanmatillap" target="_blank" class="block text-lg font-semibold text-gray-300 dark:text-gray-800 hover:text-red-500 transition-colors duration-300">
          @ivanmatillap
        </a>
      </div>
    </section>

    <div class="mt-12 text-center">
      <p class="text-gray-400 dark:text-gray-700">
        Pronto añadiremos un formulario de contacto aquí.
      </p>
    </div>
  </div>
</Layout>