---
import Layout from '../layouts/Layout.astro';
---
<Layout>
  <div class="container mx-auto p-8 text-center">
    <h1 class="text-4xl font-bold text-red-600 mb-6">Contacta con Nosotros</h1>
    <p class="text-lg text-gray-400 dark:text-gray-700 max-w-2xl mx-auto mb-12">
      ¿Listo para unirte a nuestro equipo de campeones? Contáctanos a través de estas opciones:
    </p>

    <section class="grid lg:grid-cols-2 gap-8 max-w-4xl mx-auto">
      
      <div class="bg-gray-900 dark:bg-gray-100 rounded-xl shadow-xl p-8">
        <h2 class="text-2xl font-bold text-red-600 mb-4">Síguenos en Instagram</h2>
        <div class="space-y-4">
          <a href="https://www.instagram.com/cpbjiujitsu" target="_blank" class="block text-lg font-semibold text-gray-300 dark:text-gray-800 hover:text-red-500 transition-colors duration-300">
            @cpbjiujitsu
          </a>
          <a href="https://www.instagram.com/angeel.bjj" target="_blank" class="block text-lg font-semibold text-gray-300 dark:text-gray-800 hover:text-red-500 transition-colors duration-300">
            @angeel.bjj
          </a>
          <a href="https://www.instagram.com/anngeeel_5" target="_blank" class="block text-lg font-semibold text-gray-300 dark:text-gray-800 hover:text-red-500 transition-colors duration-300">
            @anngeeel_5
          </a>
          <a href="https://www.instagram.com/ivanmatillap" target="_blank" class="block text-lg font-semibold text-gray-300 dark:text-gray-800 hover:text-red-500 transition-colors duration-300">
            @ivanmatillap
          </a>
        </div>
      </div>

      <div class="bg-gray-900 dark:bg-gray-100 rounded-xl shadow-xl p-8 flex items-center justify-center">
        <iframe
         src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12370.190752596714!2d-0.36542149999999995!3d39.18500225!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd61b7053a2f60d3%3A0x13f91c2e317f9451!2sCogito%20Pro%20Bellum%20Jiu%20Jitsu!5e0!3m2!1ses!2ses!4v1754480319995!5m2!1ses!2ses"
          width="100%"
          height="450"
          style="border:0;"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
          class="rounded-lg"
        ></iframe>
      </div>
    </section>
  </div>
</Layout>